.test{
    background-color: aquamarine;
}
.ant-menu-overflow-item{
    background-color: yellow !important;
}
.ant-menu-title-content{
    background-color: aqua !important;
}
.menu_test{
    background-color: aqua !important;
}